.wrapper {
    border: 2px solid #094101;
    border-radius: 5px;
    background-color: #fffffe;
   
}

.wrapper > div {
    border: 20px solid #8a8585;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 1em;
    color: #0e0d0d;
    text-align:center;
    
}
.wrapper {
  display: contents;
  grid-template-columns: repeat(4, 1fr);
  
}


dialog::backdrop {
  left: auto;
  background: #0f6e34;
  border-radius: 10px 0 0 15px;
  opacity: 0.85;
  border: 1px solid #242525;
  background-color: #0f6e34;
  
}