.wrapper {
    border: 2px solid #0753f7;
    border-radius: 5px;
    background-color: #b4c0e9;
   }
   
   .wrapper > div {
    border: 2px solid #b9b3f7;
    border-radius: 5px;
    background-color: #989aa3;
    padding: 1em;
    Colour: #474747;
   }
   .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
   }